<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>configuration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>darwinbuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>darwinbuild_scripts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>darwinmaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>darwintrace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>darwinup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>darwinxref.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>darwinxref_plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dependencies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>diff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>digest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>dot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>edit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>environment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>exportFiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>exportIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>exportProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>findFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>inherits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>installXcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>installXcode32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>loadDeps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>loadFiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>loadIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>manifest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>mergeBuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>original.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>packageRoots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>patchfiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>plist_sites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>query.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>register.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>resolveDeps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>source_sites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>target.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>tcl_plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>thinPackages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>720BE2EA120C90A700B3C4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AB3D1098977C00BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AB6C10989A9900BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227ABFF1098D78C00BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AC0C1098D84600BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AC151098D8DB00BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AC1E1098DB9200BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AC271098DBDF00BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7227AC311098DC4E00BE33D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573F771097A488008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573FCA1097A4B7008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573FD31097A538008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573FDC1097A5A2008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573FE51097A5BA008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573FEE1097A5D8008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72573FFD1097A6CC008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257400B1097AA25008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740151097AA5F008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257401D1097AA6E008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740251097AA79008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257402F1097AA95008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740371097AAA6008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257403F1097AABA008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740471097ABDC008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257404F1097AEC1008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740571097AECC008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257405F1097AEDE008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740671097AEF0008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257406F1097AEFE008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740771097AF0A008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257407F1097AF30008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725740981097B051008AD4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7257499F1097697300B13BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72574B581097A36300B13BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C86C371096607900C66E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C86C471096609500C66E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C86C51109660CA00C66E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C86C561096614C00C66E90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D05CAD11D267C400B33EDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
