//
// Copyright (c) 2009 Apple Computer, Inc. All rights reserved.
//
// @APPLE_BSD_LICENSE_HEADER_START@
// 
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 
// 1.  Redistributions of source code must retain the above copyright
//     notice, this list of conditions and the following disclaimer. 
// 2.  Redistributions in binary form must reproduce the above copyright
//     notice, this list of conditions and the following disclaimer in the
//     documentation and/or other materials provided with the distribution. 
// 3.  Neither the name of Apple Computer, Inc. ("Apple") nor the names of
//     its contributors may be used to endorse or promote products derived
//     from this software without specific prior written permission. 
// 
// THIS SOFTWARE IS PROVIDED BY APPLE AND ITS CONTRIBUTORS "AS IS" AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
// DISCLAIMED. IN NO EVENT SHALL APPLE OR ITS CONTRIBUTORS BE LIABLE FOR ANY
// DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
// (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
// LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
// ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
// THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
// 
// @APPLE_BSD_LICENSE_HEADER_END@
//
LINK_WITH_STANDARD_LIBRARIES = YES
MACH_O_TYPE = mh_bundle
LD_OPENMP_FLAGS = 
PREBINDING = NO
KEEP_PRIVATE_EXTERNS = NO
EXECUTABLE_EXTENSION = so
ALWAYS_SEARCH_USER_PATHS = NO
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
OTHER_CFLAGS = 
OTHER_LDFLAGS = -framework CoreFoundation -ltcl -lsqlite3
PRODUCT_NAME = $(TARGET_NAME)
WARNING_CFLAGS = -Werror -Wall
PREFIX = /usr/local
BINDIR = $(PREFIX)/bin
DATDIR = $(PREFIX)/share
INCDIR = $(PREFIX)/include
INSTALL_PATH = $(DATDIR)/darwinxref/plugins
DSTROOT = $(BUILT_PRODUCTS_DIR)
BUNDLE_LOADER = $(DSTROOT)/$(BINDIR)/darwinxref
DEPLOYMENT_LOCATION = YES
HEADER_SEARCH_PATHS = .
SKIP_INSTALL = NO
