<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>binary_sites</key>
        <array>
                <string>http://src.macosforge.org/Roots/10J869/</string>
        </array>
	<key>build</key>
	<string>10J869</string>
	<key>darwin</key>
	<string>Darwin 10.7</string>
	<key>inherits</key>
	<string>10J567</string>
	<key>macosx</key>
	<string>Mac OS X 10.6.7</string>
	<key>projects</key>
	<dict>
		<key>DSPasswordServerPlugin</key>
		<dict>
			<key>version</key>
			<string>281.1</string>
		</dict>
		<key>DirectoryService</key>
		<dict>
			<key>target</key>
			<string>DirectoryServiceFW</string>
			<key>version</key>
			<string>621.11</string>
		</dict>
		<key>IOUSBFamily</key>
		<dict>
			<key>version</key>
			<string>418.4.2</string>
		</dict>
		<key>JavaScriptCore</key>
		<dict>
			<key>version</key>
			<string>7533.20.20</string>
		</dict>
		<key>JavaScriptGlue</key>
		<dict>
			<key>version</key>
			<string>7533.19.1</string>
		</dict>
		<key>KerberosLibraries</key>
		<dict>
			<key>version</key>
			<string>81.46.4</string>
		</dict>
		<key>Libinfo</key>
		<dict>
			<key>version</key>
			<string>330.9</string>
		</dict>
		<key>Libsystem</key>
		<dict>
			<key>version</key>
			<string>125.2.10</string>
		</dict>
		<key>NFS</key>
		<dict>
			<key>version</key>
			<string>42.1</string>
		</dict>
		<key>SecurityTool</key>
		<dict>
			<key>version</key>
			<string>40596</string>
		</dict>
		<key>TimeZoneData</key>
		<dict>
			<key>version</key>
			<string>31</string>
		</dict>
		<key>Tokend</key>
		<dict>
			<key>version</key>
			<string>40596</string>
		</dict>
		<key>WebCore</key>
		<dict>
			<key>version</key>
			<string>7533.20.24</string>
		</dict>
		<key>WebKit</key>
		<dict>
			<key>version</key>
			<string>7533.20.25</string>
		</dict>
		<key>X11proto</key>
		<dict>
			<key>version</key>
			<string>40.5</string>
		</dict>
		<key>apache</key>
		<dict>
			<key>version</key>
			<string>747.3</string>
		</dict>
		<key>apache_mod_php</key>
		<dict>
			<key>version</key>
			<string>53.4</string>
		</dict>
		<key>bzip2</key>
		<dict>
			<key>version</key>
			<string>21.1</string>
		</dict>
		<key>clamav</key>
		<dict>
			<key>version</key>
			<string>125.8</string>
		</dict>
		<key>copyfile</key>
		<dict>
			<key>version</key>
			<string>66.1</string>
		</dict>
		<key>diskdev_cmds</key>
		<dict>
			<key>version</key>
			<string>491.3.3</string>
		</dict>
		<key>ipsec</key>
		<dict>
			<key>target</key>
			<string>IPSec (Aggregate)</string>
			<key>version</key>
			<string>93.13</string>
		</dict>
		<key>kext_tools</key>
		<dict>
			<key>version</key>
			<string>180.2.1</string>
		</dict>
		<key>libsecurity_apple_x509_tp</key>
		<dict>
			<key>version</key>
			<string>40596</string>
		</dict>
		<key>libsecurity_keychain</key>
		<dict>
			<key>version</key>
			<string>40768</string>
		</dict>
		<key>libsecurity_ocspd</key>
		<dict>
			<key>version</key>
			<string>40592</string>
		</dict>
		<key>libsecurity_pkcs12</key>
		<dict>
			<key>version</key>
			<string>40627</string>
		</dict>
		<key>libsecurity_ssl</key>
		<dict>
			<key>version</key>
			<string>40581</string>
		</dict>
		<key>libxml2</key>
		<dict>
			<key>version</key>
			<string>21.11.1</string>
		</dict>
		<key>mDNSResponder</key>
		<dict>
			<key>version</key>
			<string>258.18</string>
		</dict>
		<key>mailman</key>
		<dict>
			<key>version</key>
			<string>132.2</string>
		</dict>
		<key>network_cmds</key>
		<dict>
			<key>version</key>
			<string>329.2.2</string>
		</dict>
		<key>ntfs</key>
		<dict>
			<key>version</key>
			<string>65.5</string>
		</dict>
		<key>ppp</key>
		<dict>
			<key>version</key>
			<string>412.4</string>
		</dict>
		<key>ruby</key>
		<dict>
			<key>version</key>
			<string>75.3</string>
		</dict>
		<key>samba</key>
		<dict>
			<key>version</key>
			<string>235.6</string>
		</dict>
		<key>security_certificates</key>
		<dict>
			<key>version</key>
			<string>40570</string>
		</dict>
		<key>security_ocspd</key>
		<dict>
			<key>version</key>
			<string>40592</string>
		</dict>
		<key>securityd</key>
		<dict>
			<key>version</key>
			<string>40600</string>
		</dict>
		<key>smb</key>
		<dict>
			<key>version</key>
			<string>431.9</string>
		</dict>
		<key>subversion</key>
		<dict>
			<key>version</key>
			<string>40.1</string>
		</dict>
		<key>webdavfs</key>
		<dict>
			<key>version</key>
			<string>293.2</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>1504.9.37</string>
		</dict>
	</dict>
</dict>
</plist>
