<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>10K540</string>
	<key>darwin</key>
	<string>Darwin 10.8</string>
	<key>inherits</key>
	<string>10J869</string>
	<key>macosx</key>
	<string>Mac OS X 10.6.8</string>
	<key>projects</key>
	<dict>
		<key>AppleSMBIOS</key>
		<dict>
			<key>version</key>
			<string>42</string>
		</dict>
		<key>BootCache</key>
		<dict>
			<key>version</key>
			<string>64.2</string>
		</dict>
		<key>CF</key>
		<dict>
			<key>version</key>
			<string>550.43</string>
		</dict>
		<key>DirectoryService</key>
		<dict>
			<key>target</key>
			<string>DirectoryServiceFW</string>
			<key>version</key>
			<string>621.12</string>
		</dict>
		<key>ICU</key>
		<dict>
			<key>version</key>
			<string>400.42</string>
		</dict>
		<key>IOAudioFamily</key>
		<dict>
			<key>version</key>
			<string>183.4.2</string>
		</dict>
		<key>IOCDStorageFamily</key>
		<dict>
			<key>version</key>
			<string>47.1</string>
		</dict>
		<key>IOFireWireSerialBusProtocolTransport</key>
		<dict>
			<key>version</key>
			<string>210.0.0</string>
		</dict>
		<key>IOGraphics</key>
		<dict>
			<key>version</key>
			<string>392.1</string>
		</dict>
		<key>IOHIDFamily</key>
		<dict>
			<key>version</key>
			<string>315.7.16</string>
		</dict>
		<key>IOKitUser</key>
		<dict>
			<key>version</key>
			<string>514.16.50</string>
		</dict>
		<key>IONetworkingFamily</key>
		<dict>
			<key>version</key>
			<string>65.2.1</string>
		</dict>
		<key>IOPCIFamily</key>
		<dict>
			<key>version</key>
			<string>144</string>
		</dict>
		<key>IOSCSIParallelFamily</key>
		<dict>
			<key>version</key>
			<string>211.0.0</string>
		</dict>
		<key>IOStorageFamily</key>
		<dict>
			<key>version</key>
			<string>116.1.41</string>
		</dict>
		<key>IOUSBFamily</key>
		<dict>
			<key>version</key>
			<string>424.4.1</string>
		</dict>
		<key>IOUSBMassStorageClass</key>
		<dict>
			<key>version</key>
			<string>267.0.1</string>
		</dict>
		<key>Libc</key>
		<dict>
			<key>version</key>
			<string>594.9.5</string>
		</dict>
		<key>Libinfo</key>
		<dict>
			<key>version</key>
			<string>330.10</string>
		</dict>
		<key>Libsystem</key>
		<dict>
			<key>version</key>
			<string>125.2.11</string>
		</dict>
		<key>MySQL</key>
		<dict>
			<key>version</key>
			<string>55</string>
		</dict>
		<key>OpenSSL098</key>
		<dict>
			<key>version</key>
			<string>35.1</string>
		</dict>
		<key>PowerManagement</key>
		<dict>
			<key>version</key>
			<string>211.14</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>TimeZoneData</key>
		<dict>
			<key>version</key>
			<string>35</string>
		</dict>
		<key>WebCore</key>
		<dict>
			<key>version</key>
			<string>7533.21.1</string>
		</dict>
		<key>WebKit</key>
		<dict>
			<key>version</key>
			<string>7533.21.1</string>
		</dict>
		<key>bless</key>
		<dict>
			<key>version</key>
			<string>71.3</string>
		</dict>
		<key>configd</key>
		<dict>
			<key>target</key>
			<string>configd_base</string>
			<key>version</key>
			<string>293.8</string>
		</dict>
		<key>cups</key>
		<dict>
			<key>version</key>
			<string>218.30</string>
		</dict>
		<key>diskdev_cmds</key>
		<dict>
			<key>version</key>
			<string>491.6</string>
		</dict>
		<key>ipsec</key>
		<dict>
			<key>target</key>
			<string>IPSec (Aggregate)</string>
			<key>version</key>
			<string>93.15</string>
		</dict>
		<key>ipv6configuration</key>
		<dict>
			<key>version</key>
			<string>31.3</string>
		</dict>
		<key>libsecurity_apple_x509_tp</key>
		<dict>
			<key>version</key>
			<string>55006</string>
		</dict>
		<key>libsecurity_codesigning</key>
		<dict>
			<key>version</key>
			<string>55005</string>
		</dict>
		<key>libsecurity_keychain</key>
		<dict>
			<key>version</key>
			<string>55017</string>
		</dict>
		<key>libsecurity_ocspd</key>
		<dict>
			<key>version</key>
			<string>55004</string>
		</dict>
		<key>libsecurity_utilities</key>
		<dict>
			<key>version</key>
			<string>55010</string>
		</dict>
		<key>libxslt</key>
		<dict>
			<key>version</key>
			<string>10.9.1</string>
		</dict>
		<key>mDNSResponder</key>
		<dict>
			<key>version</key>
			<string>258.21</string>
		</dict>
		<key>objc4</key>
		<dict>
			<key>version</key>
			<string>437.3</string>
		</dict>
		<key>patch_cmds</key>
		<dict>
			<key>version</key>
			<string>11.1</string>
		</dict>
		<key>ppp</key>
		<dict>
			<key>version</key>
			<string>412.5</string>
		</dict>
		<key>python_modules</key>
		<dict>
			<key>version</key>
			<string>23</string>
		</dict>
		<key>samba</key>
		<dict>
			<key>version</key>
			<string>235.7</string>
		</dict>
		<key>security_certificates</key>
		<dict>
			<key>version</key>
			<string>50002</string>
		</dict>
		<key>security_ocspd</key>
		<dict>
			<key>version</key>
			<string>55005</string>
		</dict>
		<key>smb</key>
		<dict>
			<key>version</key>
			<string>431.11</string>
		</dict>
		<key>subversion</key>
		<dict>
			<key>version</key>
			<string>40.2</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>1504.15.3</string>
		</dict>
	</dict>
</dict>
</plist>
