<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>11A511a</string>
	<key>darwin</key>
	<string>Darwin 11.0</string>
	<key>macosx</key>
	<string>Mac OS X 10.7</string>
	<key>projects</key>
	<dict>
		<key>AppleFileSystemDriver</key>
		<dict>
			<key>version</key>
			<string>14</string>
		</dict>
		<key>AppleUSBCDCDriver</key>
		<dict>
			<key>version</key>
			<string>4115.4.1</string>
		</dict>
		<key>BerkeleyDB</key>
		<dict>
			<key>version</key>
			<string>21</string>
		</dict>
		<key>BootCache</key>
		<dict>
			<key>version</key>
			<string>85</string>
		</dict>
		<key>CF</key>
		<dict>
			<key>version</key>
			<string>635</string>
		</dict>
		<key>CPAN</key>
		<dict>
			<key>version</key>
			<string>37</string>
		</dict>
		<key>CPANInternal</key>
		<dict>
			<key>version</key>
			<string>105</string>
		</dict>
		<key>CPANInternal_Config</key>
		<dict>
			<key>original</key>
			<string>CPANInternal</string>
		</dict>
		<key>ChatServer</key>
		<dict>
			<key>version</key>
			<string>373</string>
		</dict>
		<key>Chess</key>
		<dict>
			<key>version</key>
			<string>110.1.17</string>
		</dict>
		<key>CommonCrypto</key>
		<dict>
			<key>version</key>
			<string>55010</string>
		</dict>
		<key>CrackLib</key>
		<dict>
			<key>version</key>
			<string>37765</string>
		</dict>
		<key>CyrusIMAP</key>
		<dict>
			<key>version</key>
			<string>191</string>
		</dict>
		<key>DSTools</key>
		<dict>
			<key>version</key>
			<string>162</string>
		</dict>
		<key>DirectoryService</key>
		<dict>
			<key>target</key>
			<string>DirectoryServiceFW</string>
			<key>version</key>
			<string>655</string>
		</dict>
		<key>DiskArbitration</key>
		<dict>
			<key>version</key>
			<string>229</string>
		</dict>
		<key>DiskArbitrationAgent</key>
		<dict>
			<key>original</key>
			<string>DiskArbitration</string>
		</dict>
		<key>Heimdal</key>
		<dict>
			<key>version</key>
			<string>172.18</string>
		</dict>
		<key>HeimdalCompilers</key>
		<dict>
			<key>original</key>
			<string>Heimdal</string>
		</dict>
		<key>HeimdalOpenDirectory</key>
		<dict>
			<key>original</key>
			<string>Heimdal</string>
		</dict>
		<key>ICU</key>
		<dict>
			<key>version</key>
			<string>461.12</string>
		</dict>
		<key>IOATAPIProtocolTransport</key>
		<dict>
			<key>version</key>
			<string>300.0.0</string>
		</dict>
		<key>IOAudioFamily</key>
		<dict>
			<key>version</key>
			<string>183.4.11</string>
		</dict>
		<key>IOCDStorageFamily</key>
		<dict>
			<key>version</key>
			<string>49</string>
		</dict>
		<key>IOFWDVComponents</key>
		<dict>
			<key>version</key>
			<string>207.4.1</string>
		</dict>
		<key>IOFireWireAVC</key>
		<dict>
			<key>version</key>
			<string>421.4.0</string>
		</dict>
		<key>IOFireWireFamily</key>
		<dict>
			<key>version</key>
			<string>443.4.0</string>
		</dict>
		<key>IOFireWireIP</key>
		<dict>
			<key>version</key>
			<string>223.4.0</string>
		</dict>
		<key>IOFireWireSBP2</key>
		<dict>
			<key>version</key>
			<string>420.4.1</string>
		</dict>
		<key>IOFireWireSerialBusProtocolTransport</key>
		<dict>
			<key>version</key>
			<string>210.0.1</string>
		</dict>
		<key>IOGraphics</key>
		<dict>
			<key>version</key>
			<string>406</string>
		</dict>
		<key>IOHIDFamily</key>
		<dict>
			<key>version</key>
			<string>368.13</string>
		</dict>
		<key>IOKitTools</key>
		<dict>
			<key>version</key>
			<string>82</string>
		</dict>
		<key>IOKitUser</key>
		<dict>
			<key>version</key>
			<string>647.6</string>
		</dict>
		<key>IONetworkingFamily</key>
		<dict>
			<key>version</key>
			<string>75</string>
		</dict>
		<key>IOSCSIParallelFamily</key>
		<dict>
			<key>version</key>
			<string>250.0.7</string>
		</dict>
		<key>IOSerialFamily</key>
		<dict>
			<key>version</key>
			<string>59</string>
		</dict>
		<key>IOStorageFamily</key>
		<dict>
			<key>version</key>
			<string>133.2</string>
		</dict>
		<key>IOUSBFamily</key>
		<dict>
			<key>version</key>
			<string>440.4.1</string>
		</dict>
		<key>IOUSBMassStorageClass</key>
		<dict>
			<key>version</key>
			<string>300.0.9</string>
		</dict>
		<key>JavaScriptCore</key>
		<dict>
			<key>version</key>
			<string>7534.48</string>
		</dict>
		<key>KerberosHelper</key>
		<dict>
			<key>version</key>
			<string>114</string>
		</dict>
		<key>Libc</key>
		<dict>
			<key>version</key>
			<string>763.11</string>
		</dict>
		<key>Libinfo</key>
		<dict>
			<key>version</key>
			<string>391</string>
		</dict>
		<key>Libm</key>
		<dict>
			<key>target</key>
			<string>libm</string>
			<key>version</key>
			<string>2026</string>
		</dict>
		<key>Libnotify</key>
		<dict>
			<key>version</key>
			<string>80</string>
		</dict>
		<key>Librpcsvc</key>
		<dict>
			<key>version</key>
			<string>19</string>
		</dict>
		<key>Libsystem</key>
		<dict>
			<key>version</key>
			<string>159</string>
		</dict>
		<key>MITKerberosShim</key>
		<dict>
			<key>version</key>
			<string>44</string>
		</dict>
		<key>NFS</key>
		<dict>
			<key>version</key>
			<string>63</string>
		</dict>
		<key>OpenAL</key>
		<dict>
			<key>version</key>
			<string>46</string>
		</dict>
		<key>OpenDirectory</key>
		<dict>
			<key>version</key>
			<string>144</string>
		</dict>
		<key>OpenLDAP</key>
		<dict>
			<key>version</key>
			<string>186</string>
		</dict>
		<key>OpenPAM</key>
		<dict>
			<key>version</key>
			<string>17</string>
		</dict>
		<key>OpenSSH</key>
		<dict>
			<key>version</key>
			<string>166</string>
		</dict>
		<key>PostgreSQL</key>
		<dict>
			<key>version</key>
			<string>23</string>
		</dict>
		<key>PowerManagement</key>
		<dict>
			<key>version</key>
			<string>271.1</string>
		</dict>
		<key>RubyCocoa</key>
		<dict>
			<key>version</key>
			<string>76</string>
		</dict>
		<key>RubyGems</key>
		<dict>
			<key>version</key>
			<string>19</string>
		</dict>
		<key>SQLite</key>
		<dict>
			<key>version</key>
			<string>117</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>version</key>
			<string>55010</string>
		</dict>
		<key>SecurityTokend</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>SecurityTool</key>
		<dict>
			<key>version</key>
			<string>55001</string>
		</dict>
		<key>SmartCardServices</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>SmartcardCCID</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>SpamAssassin</key>
		<dict>
			<key>version</key>
			<string>156</string>
		</dict>
		<key>TargetConfig</key>
		<dict>
			<key>version</key>
			<string>14</string>
		</dict>
		<key>Twisted</key>
		<dict>
			<key>version</key>
			<string>14</string>
		</dict>
		<key>UserNotification</key>
		<dict>
			<key>version</key>
			<string>24</string>
		</dict>
		<key>WebCore</key>
		<dict>
			<key>version</key>
			<string>7534.48.3</string>
		</dict>
		<key>WebKit</key>
		<dict>
			<key>version</key>
			<string>7534.48.3</string>
		</dict>
		<key>WebmailServer</key>
		<dict>
			<key>version</key>
			<string>10</string>
		</dict>
		<key>X11apps</key>
		<dict>
			<key>version</key>
			<string>44</string>
		</dict>
		<key>X11fonts</key>
		<dict>
			<key>version</key>
			<string>14</string>
		</dict>
		<key>X11libs</key>
		<dict>
			<key>version</key>
			<string>60</string>
		</dict>
		<key>X11misc</key>
		<dict>
			<key>version</key>
			<string>20</string>
		</dict>
		<key>X11proto</key>
		<dict>
			<key>version</key>
			<string>57</string>
		</dict>
		<key>X11server</key>
		<dict>
			<key>version</key>
			<string>106.3</string>
		</dict>
		<key>adv_cmds</key>
		<dict>
			<key>version</key>
			<string>147</string>
		</dict>
		<key>amavisd</key>
		<dict>
			<key>version</key>
			<string>124</string>
		</dict>
		<key>apache</key>
		<dict>
			<key>version</key>
			<string>769</string>
		</dict>
		<key>apache_mod_bonjour</key>
		<dict>
			<key>version</key>
			<string>15</string>
		</dict>
		<key>apache_mod_bw</key>
		<dict>
			<key>version</key>
			<string>201</string>
		</dict>
		<key>apache_mod_encoding2</key>
		<dict>
			<key>version</key>
			<string>204</string>
		</dict>
		<key>apache_mod_hfs_apple</key>
		<dict>
			<key>version</key>
			<string>11</string>
		</dict>
		<key>apache_mod_jk</key>
		<dict>
			<key>version</key>
			<string>202</string>
		</dict>
		<key>apache_mod_perl</key>
		<dict>
			<key>version</key>
			<string>105</string>
		</dict>
		<key>apache_mod_php</key>
		<dict>
			<key>version</key>
			<string>66.1</string>
		</dict>
		<key>apache_mod_python</key>
		<dict>
			<key>version</key>
			<string>202</string>
		</dict>
		<key>apr</key>
		<dict>
			<key>version</key>
			<string>26</string>
		</dict>
		<key>architecture</key>
		<dict>
			<key>version</key>
			<string>260</string>
		</dict>
		<key>autofs</key>
		<dict>
			<key>version</key>
			<string>207</string>
		</dict>
		<key>awk</key>
		<dict>
			<key>version</key>
			<string>18</string>
		</dict>
		<key>bash</key>
		<dict>
			<key>version</key>
			<string>84</string>
		</dict>
		<key>basic_cmds</key>
		<dict>
			<key>version</key>
			<string>51</string>
		</dict>
		<key>bind9</key>
		<dict>
			<key>version</key>
			<string>42</string>
		</dict>
		<key>bless</key>
		<dict>
			<key>version</key>
			<string>76</string>
		</dict>
		<key>bootp</key>
		<dict>
			<key>version</key>
			<string>237.2</string>
		</dict>
		<key>bootstrap_cmds</key>
		<dict>
			<key>version</key>
			<string>78</string>
		</dict>
		<key>bzip2</key>
		<dict>
			<key>version</key>
			<string>27</string>
		</dict>
		<key>cctools</key>
		<dict>
			<key>version</key>
			<string>800</string>
		</dict>
		<key>cddafs</key>
		<dict>
			<key>version</key>
			<string>250.0.5</string>
		</dict>
		<key>clamav</key>
		<dict>
			<key>version</key>
			<string>137</string>
		</dict>
		<key>configd</key>
		<dict>
			<key>target</key>
			<string>configd_base</string>
			<key>version</key>
			<string>395.6</string>
		</dict>
		<key>copyfile</key>
		<dict>
			<key>version</key>
			<string>85.1</string>
		</dict>
		<key>crontabs</key>
		<dict>
			<key>version</key>
			<string>45</string>
		</dict>
		<key>cups</key>
		<dict>
			<key>version</key>
			<string>297</string>
		</dict>
		<key>curl</key>
		<dict>
			<key>version</key>
			<string>68</string>
		</dict>
		<key>dceidl</key>
		<dict>
			<key>original</key>
			<string>dcerpc</string>
		</dict>
		<key>dcerpc</key>
		<dict>
			<key>version</key>
			<string>46</string>
		</dict>
		<key>developer_cmds</key>
		<dict>
			<key>version</key>
			<string>55</string>
		</dict>
		<key>diskdev_cmds</key>
		<dict>
			<key>version</key>
			<string>540.1</string>
		</dict>
		<key>disklabel</key>
		<dict>
			<key>version</key>
			<string>3</string>
		</dict>
		<key>doc_cmds</key>
		<dict>
			<key>version</key>
			<string>49</string>
		</dict>
		<key>dovecot</key>
		<dict>
			<key>version</key>
			<string>239</string>
		</dict>
		<key>dtrace</key>
		<dict>
			<key>version</key>
			<string>90</string>
		</dict>
		<key>dyld</key>
		<dict>
			<key>target</key>
			<string>dyld</string>
			<key>version</key>
			<string>195.5</string>
		</dict>
		<key>eap8021x</key>
		<dict>
			<key>version</key>
			<string>137</string>
		</dict>
		<key>efax</key>
		<dict>
			<key>version</key>
			<string>36</string>
		</dict>
		<key>emacs</key>
		<dict>
			<key>version</key>
			<string>84</string>
		</dict>
		<key>expat</key>
		<dict>
			<key>version</key>
			<string>11</string>
		</dict>
		<key>fetchmail</key>
		<dict>
			<key>version</key>
			<string>33</string>
		</dict>
		<key>file</key>
		<dict>
			<key>version</key>
			<string>44</string>
		</dict>
		<key>file_cmds</key>
		<dict>
			<key>version</key>
			<string>212</string>
		</dict>
		<key>files</key>
		<dict>
			<key>version</key>
			<string>589.3</string>
		</dict>
		<key>flex</key>
		<dict>
			<key>version</key>
			<string>26</string>
		</dict>
		<key>freeradius</key>
		<dict>
			<key>version</key>
			<string>32</string>
		</dict>
		<key>gnutar</key>
		<dict>
			<key>version</key>
			<string>451</string>
		</dict>
		<key>gpatch</key>
		<dict>
			<key>version</key>
			<string>2</string>
		</dict>
		<key>gpt</key>
		<dict>
			<key>version</key>
			<string>9</string>
		</dict>
		<key>groff</key>
		<dict>
			<key>version</key>
			<string>35</string>
		</dict>
		<key>gssd</key>
		<dict>
			<key>version</key>
			<string>53</string>
		</dict>
		<key>headerdoc</key>
		<dict>
			<key>version</key>
			<string>8.8.38</string>
		</dict>
		<key>hfs</key>
		<dict>
			<key>version</key>
			<string>191</string>
		</dict>
		<key>hunspell</key>
		<dict>
			<key>version</key>
			<string>7</string>
		</dict>
		<key>iodbc</key>
		<dict>
			<key>version</key>
			<string>42</string>
		</dict>
		<key>ipsec</key>
		<dict>
			<key>target</key>
			<string>IPSec (Aggregate)</string>
			<key>version</key>
			<string>146.1</string>
		</dict>
		<key>kext_tools</key>
		<dict>
			<key>version</key>
			<string>251</string>
		</dict>
		<key>keymgr</key>
		<dict>
			<key>version</key>
			<string>23</string>
		</dict>
		<key>launchd</key>
		<dict>
			<key>version</key>
			<string>392.18</string>
		</dict>
		<key>less</key>
		<dict>
			<key>version</key>
			<string>23</string>
		</dict>
		<key>libarchive</key>
		<dict>
			<key>version</key>
			<string>23</string>
		</dict>
		<key>libauto</key>
		<dict>
			<key>version</key>
			<string>179</string>
		</dict>
		<key>libclosure</key>
		<dict>
			<key>version</key>
			<string>53</string>
		</dict>
		<key>libcppabi</key>
		<dict>
			<key>version</key>
			<string>14</string>
		</dict>
		<key>libdispatch</key>
		<dict>
			<key>version</key>
			<string>187.5</string>
		</dict>
		<key>libdispatch_tools</key>
		<dict>
			<key>original</key>
			<string>libdispatch</string>
		</dict>
		<key>libedit</key>
		<dict>
			<key>version</key>
			<string>28</string>
		</dict>
		<key>libevent</key>
		<dict>
			<key>version</key>
			<string>2</string>
		</dict>
		<key>libffi</key>
		<dict>
			<key>version</key>
			<string>18</string>
		</dict>
		<key>libfs</key>
		<dict>
			<key>version</key>
			<string>12</string>
		</dict>
		<key>libiconv</key>
		<dict>
			<key>version</key>
			<string>31</string>
		</dict>
		<key>libpcap</key>
		<dict>
			<key>version</key>
			<string>27</string>
		</dict>
		<key>libresolv</key>
		<dict>
			<key>version</key>
			<string>46</string>
		</dict>
		<key>libsecurity_agent</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_apple_csp</key>
		<dict>
			<key>version</key>
			<string>55003</string>
		</dict>
		<key>libsecurity_apple_cspdl</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_apple_file_dl</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_apple_x509_cl</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_apple_x509_tp</key>
		<dict>
			<key>version</key>
			<string>55005</string>
		</dict>
		<key>libsecurity_asn1</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_authorization</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_cdsa_client</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_cdsa_plugin</key>
		<dict>
			<key>version</key>
			<string>55001</string>
		</dict>
		<key>libsecurity_cdsa_utilities</key>
		<dict>
			<key>version</key>
			<string>55005</string>
		</dict>
		<key>libsecurity_cdsa_utils</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_checkpw</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_cms</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>libsecurity_codesigning</key>
		<dict>
			<key>version</key>
			<string>55004</string>
		</dict>
		<key>libsecurity_cssm</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_dotmacdl</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_filedb</key>
		<dict>
			<key>version</key>
			<string>55013</string>
		</dict>
		<key>libsecurity_filevault</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_keychain</key>
		<dict>
			<key>version</key>
			<string>55029</string>
		</dict>
		<key>libsecurity_ldap_dl</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_manifest</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_mds</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_ocspd</key>
		<dict>
			<key>version</key>
			<string>55007</string>
		</dict>
		<key>libsecurity_pkcs12</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_sd_cspdl</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_smime</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>libsecurity_ssl</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>libsecurity_utilities</key>
		<dict>
			<key>version</key>
			<string>55015</string>
		</dict>
		<key>libsecurityd</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>libstdcxx</key>
		<dict>
			<key>version</key>
			<string>52</string>
		</dict>
		<key>libsubversion</key>
		<dict>
			<key>original</key>
			<string>subversion</string>
		</dict>
		<key>libtelnet</key>
		<dict>
			<key>version</key>
			<string>9</string>
		</dict>
		<key>libutil</key>
		<dict>
			<key>version</key>
			<string>25</string>
		</dict>
		<key>libxml2</key>
		<dict>
			<key>version</key>
			<string>21.13</string>
		</dict>
		<key>libxslt</key>
		<dict>
			<key>version</key>
			<string>10.9</string>
		</dict>
		<key>lsof</key>
		<dict>
			<key>version</key>
			<string>48</string>
		</dict>
		<key>lukemftp</key>
		<dict>
			<key>version</key>
			<string>13</string>
		</dict>
		<key>lukemftpd</key>
		<dict>
			<key>version</key>
			<string>47</string>
		</dict>
		<key>mDNSResponder</key>
		<dict>
			<key>version</key>
			<string>320.5</string>
		</dict>
		<key>mail_cmds</key>
		<dict>
			<key>version</key>
			<string>25</string>
		</dict>
		<key>mailman</key>
		<dict>
			<key>version</key>
			<string>138</string>
		</dict>
		<key>memcached</key>
		<dict>
			<key>version</key>
			<string>8</string>
		</dict>
		<key>misc_cmds</key>
		<dict>
			<key>version</key>
			<string>31</string>
		</dict>
		<key>modemccl</key>
		<dict>
			<key>version</key>
			<string>25.1</string>
		</dict>
		<key>msdosfs</key>
		<dict>
			<key>version</key>
			<string>178</string>
		</dict>
		<key>nano</key>
		<dict>
			<key>version</key>
			<string>8</string>
		</dict>
		<key>nasm</key>
		<dict>
			<key>version</key>
			<string>15</string>
		</dict>
		<key>ncurses</key>
		<dict>
			<key>version</key>
			<string>36</string>
		</dict>
		<key>neon</key>
		<dict>
			<key>version</key>
			<string>13</string>
		</dict>
		<key>net_snmp</key>
		<dict>
			<key>version</key>
			<string>132</string>
		</dict>
		<key>netcat</key>
		<dict>
			<key>version</key>
			<string>9</string>
		</dict>
		<key>netinfo</key>
		<dict>
			<key>version</key>
			<string>384</string>
		</dict>
		<key>network_cmds</key>
		<dict>
			<key>version</key>
			<string>356.8</string>
		</dict>
		<key>notify</key>
		<dict>
			<key>version</key>
			<string>45.3</string>
		</dict>
		<key>ntfs</key>
		<dict>
			<key>version</key>
			<string>78</string>
		</dict>
		<key>ntp</key>
		<dict>
			<key>version</key>
			<string>70</string>
		</dict>
		<key>objc4</key>
		<dict>
			<key>version</key>
			<string>493.9</string>
		</dict>
		<key>objc_selopt</key>
		<dict>
			<key>original</key>
			<string>objc4</string>
		</dict>
		<key>pam_modules</key>
		<dict>
			<key>version</key>
			<string>126</string>
		</dict>
		<key>passwordserver_sasl</key>
		<dict>
			<key>target</key>
			<string>SecondaryTargets</string>
			<key>version</key>
			<string>165</string>
		</dict>
		<key>patch_cmds</key>
		<dict>
			<key>version</key>
			<string>16</string>
		</dict>
		<key>pcre</key>
		<dict>
			<key>version</key>
			<string>6</string>
		</dict>
		<key>pdisk</key>
		<dict>
			<key>version</key>
			<string>8</string>
		</dict>
		<key>perl</key>
		<dict>
			<key>version</key>
			<string>73</string>
		</dict>
		<key>postfix</key>
		<dict>
			<key>version</key>
			<string>229</string>
		</dict>
		<key>ppp</key>
		<dict>
			<key>version</key>
			<string>560.12</string>
		</dict>
		<key>procmail</key>
		<dict>
			<key>version</key>
			<string>13</string>
		</dict>
		<key>pyOpenSSL</key>
		<dict>
			<key>version</key>
			<string>7</string>
		</dict>
		<key>pyobjc</key>
		<dict>
			<key>version</key>
			<string>32</string>
		</dict>
		<key>python</key>
		<dict>
			<key>version</key>
			<string>56</string>
		</dict>
		<key>python23</key>
		<dict>
			<key>version</key>
			<string>19</string>
		</dict>
		<key>python_dateutil</key>
		<dict>
			<key>version</key>
			<string>5</string>
		</dict>
		<key>python_modules</key>
		<dict>
			<key>version</key>
			<string>26</string>
		</dict>
		<key>remote_cmds</key>
		<dict>
			<key>version</key>
			<string>31</string>
		</dict>
		<key>removefile</key>
		<dict>
			<key>version</key>
			<string>21</string>
		</dict>
		<key>rsync</key>
		<dict>
			<key>version</key>
			<string>42</string>
		</dict>
		<key>ruby</key>
		<dict>
			<key>version</key>
			<string>79</string>
		</dict>
		<key>samba</key>
		<dict>
			<key>version</key>
			<string>242</string>
		</dict>
		<key>security_authtrampoline</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>security_certificates</key>
		<dict>
			<key>version</key>
			<string>55001</string>
		</dict>
		<key>security_certtool</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>security_crlrefresh</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>security_dotmac_tp</key>
		<dict>
			<key>version</key>
			<string>55000</string>
		</dict>
		<key>security_ocspd</key>
		<dict>
			<key>version</key>
			<string>55007</string>
		</dict>
		<key>security_systemkeychain</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>securityd</key>
		<dict>
			<key>version</key>
			<string>55009</string>
		</dict>
		<key>shell_cmds</key>
		<dict>
			<key>version</key>
			<string>162</string>
		</dict>
		<key>smb</key>
		<dict>
			<key>version</key>
			<string>551</string>
		</dict>
		<key>smb_apps</key>
		<dict>
			<key>original</key>
			<string>smb</string>
		</dict>
		<key>srm</key>
		<dict>
			<key>version</key>
			<string>7</string>
		</dict>
		<key>subversion</key>
		<dict>
			<key>version</key>
			<string>44</string>
		</dict>
		<key>sudo</key>
		<dict>
			<key>version</key>
			<string>60</string>
		</dict>
		<key>svk</key>
		<dict>
			<key>version</key>
			<string>14</string>
		</dict>
		<key>swig</key>
		<dict>
			<key>version</key>
			<string>6</string>
		</dict>
		<key>syslog</key>
		<dict>
			<key>version</key>
			<string>132</string>
		</dict>
		<key>system_cmds</key>
		<dict>
			<key>version</key>
			<string>541</string>
		</dict>
		<key>system_config</key>
		<dict>
			<key>version</key>
			<string>51</string>
		</dict>
		<key>tcl</key>
		<dict>
			<key>target</key>
			<string>install</string>
			<key>version</key>
			<string>95</string>
		</dict>
		<key>tcp_wrappers</key>
		<dict>
			<key>version</key>
			<string>20</string>
		</dict>
		<key>tcpdump</key>
		<dict>
			<key>version</key>
			<string>32</string>
		</dict>
		<key>tcsh</key>
		<dict>
			<key>version</key>
			<string>64</string>
		</dict>
		<key>text_cmds</key>
		<dict>
			<key>version</key>
			<string>81</string>
		</dict>
		<key>tidy</key>
		<dict>
			<key>version</key>
			<string>15.6</string>
		</dict>
		<key>top</key>
		<dict>
			<key>version</key>
			<string>73</string>
		</dict>
		<key>usertemplate</key>
		<dict>
			<key>version</key>
			<string>82</string>
		</dict>
		<key>vim</key>
		<dict>
			<key>version</key>
			<string>47</string>
		</dict>
		<key>webdavfs</key>
		<dict>
			<key>version</key>
			<string>321</string>
		</dict>
		<key>xar</key>
		<dict>
			<key>version</key>
			<string>45</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>1699.22.73</string>
		</dict>
		<key>xnu_l4</key>
		<dict>
			<key>original</key>
			<string>xnu</string>
		</dict>
		<key>zlib</key>
		<dict>
			<key>version</key>
			<string>37.2</string>
		</dict>
		<key>zsh</key>
		<dict>
			<key>version</key>
			<string>55</string>
		</dict>
	</dict>
</dict>
</plist>
