<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>11C74</string>
	<key>darwin</key>
	<string>Darwin 11.2</string>
	<key>inherits</key>
	<string>11B26</string>
	<key>macosx</key>
	<string>Mac OS X 10.7.2</string>
	<key>projects</key>
	<dict>
		<key>BootCache</key>
		<dict>
			<key>version</key>
			<string>87</string>
		</dict>
		<key>CF</key>
		<dict>
			<key>version</key>
			<string>635.15</string>
		</dict>
		<key>ChatServer</key>
		<dict>
			<key>version</key>
			<string>373.2</string>
		</dict>
		<key>Chess</key>
		<dict>
			<key>version</key>
			<string>110.1.23</string>
		</dict>
		<key>DiskArbitration</key>
		<dict>
			<key>version</key>
			<string>230</string>
		</dict>
		<key>Heimdal</key>
		<dict>
			<key>version</key>
			<string>172.27</string>
		</dict>
		<key>ICU</key>
		<dict>
			<key>version</key>
			<string>461.13</string>
		</dict>
		<key>IODVDStorageFamily</key>
		<dict>
			<key>version</key>
			<string>33</string>
		</dict>
		<key>IOFireWireAVC</key>
		<dict>
			<key>version</key>
			<string>422.4.0</string>
		</dict>
		<key>IOFireWireFamily</key>
		<dict>
			<key>version</key>
			<string>445.4.0</string>
		</dict>
		<key>IOFireWireIP</key>
		<dict>
			<key>version</key>
			<string>224.4.0</string>
		</dict>
		<key>IOGraphics</key>
		<dict>
			<key>version</key>
			<string>408</string>
		</dict>
		<key>IOHIDFamily</key>
		<dict>
			<key>version</key>
			<string>368.19</string>
		</dict>
		<key>IOKitUser</key>
		<dict>
			<key>version</key>
			<string>647.6.10</string>
		</dict>
		<key>IOPCIFamily</key>
		<dict>
			<key>version</key>
			<string>146</string>
		</dict>
		<key>IOSCSIParallelFamily</key>
		<dict>
			<key>version</key>
			<string>251.0.2</string>
		</dict>
		<key>IOUSBFamily</key>
		<dict>
			<key>version</key>
			<string>453.4.2</string>
		</dict>
		<key>JavaScriptCore</key>
		<dict>
			<key>version</key>
			<string>7534.51.21</string>
		</dict>
		<key>Libc</key>
		<dict>
			<key>version</key>
			<string>763.12</string>
		</dict>
		<key>Libinfo</key>
		<dict>
			<key>version</key>
			<string>392</string>
		</dict>
		<key>Libnotify</key>
		<dict>
			<key>version</key>
			<string>80.1</string>
		</dict>
		<key>Libsystem</key>
		<dict>
			<key>version</key>
			<string>159.1</string>
		</dict>
		<key>MITKerberosShim</key>
		<dict>
			<key>version</key>
			<string>44.1</string>
		</dict>
		<key>OpenAL</key>
		<dict>
			<key>version</key>
			<string>47</string>
		</dict>
		<key>OpenDirectory</key>
		<dict>
			<key>version</key>
			<string>146</string>
		</dict>
		<key>OpenLDAP</key>
		<dict>
			<key>version</key>
			<string>186.2</string>
		</dict>
		<key>OpenSSH</key>
		<dict>
			<key>version</key>
			<string>166.1</string>
		</dict>
		<key>PostgreSQL</key>
		<dict>
			<key>version</key>
			<string>26</string>
		</dict>
		<key>SQLite</key>
		<dict>
			<key>version</key>
			<string>117.1</string>
		</dict>
		<key>SecurityTool</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>TimeZoneData</key>
		<dict>
			<key>version</key>
			<string>36</string>
		</dict>
		<key>WebCore</key>
		<dict>
			<key>version</key>
			<string>7534.51.22</string>
		</dict>
		<key>WebKit</key>
		<dict>
			<key>version</key>
			<string>7534.51.22</string>
		</dict>
		<key>WebmailServer</key>
		<dict>
			<key>version</key>
			<string>10.1</string>
		</dict>
		<key>X11libs</key>
		<dict>
			<key>version</key>
			<string>60.1</string>
		</dict>
		<key>X11server</key>
		<dict>
			<key>version</key>
			<string>106.5</string>
		</dict>
		<key>amavisd</key>
		<dict>
			<key>version</key>
			<string>124.1</string>
		</dict>
		<key>apache</key>
		<dict>
			<key>version</key>
			<string>769.1</string>
		</dict>
		<key>apache_mod_php</key>
		<dict>
			<key>version</key>
			<string>66.1.1</string>
		</dict>
		<key>bind9</key>
		<dict>
			<key>version</key>
			<string>42.1</string>
		</dict>
		<key>bootp</key>
		<dict>
			<key>version</key>
			<string>237.3</string>
		</dict>
		<key>clamav</key>
		<dict>
			<key>version</key>
			<string>137.1</string>
		</dict>
		<key>configd</key>
		<dict>
			<key>target</key>
			<string>configd_base</string>
			<key>version</key>
			<string>395.7</string>
		</dict>
		<key>cups</key>
		<dict>
			<key>version</key>
			<string>297.2</string>
		</dict>
		<key>dovecot</key>
		<dict>
			<key>version</key>
			<string>239.4</string>
		</dict>
		<key>eap8021x</key>
		<dict>
			<key>version</key>
			<string>137.1</string>
		</dict>
		<key>files</key>
		<dict>
			<key>version</key>
			<string>589.5</string>
		</dict>
		<key>kext_tools</key>
		<dict>
			<key>version</key>
			<string>252</string>
		</dict>
		<key>launchd</key>
		<dict>
			<key>version</key>
			<string>392.35</string>
		</dict>
		<key>libauto</key>
		<dict>
			<key>version</key>
			<string>180</string>
		</dict>
		<key>libdispatch</key>
		<dict>
			<key>version</key>
			<string>187.7</string>
		</dict>
		<key>libsecurity_apple_x509_cl</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>libsecurity_cdsa_utilities</key>
		<dict>
			<key>version</key>
			<string>55006</string>
		</dict>
		<key>libsecurity_filedb</key>
		<dict>
			<key>version</key>
			<string>55014</string>
		</dict>
		<key>libsecurity_keychain</key>
		<dict>
			<key>version</key>
			<string>55035</string>
		</dict>
		<key>libsecurity_sd_cspdl</key>
		<dict>
			<key>version</key>
			<string>55002</string>
		</dict>
		<key>libsecurity_utilities</key>
		<dict>
			<key>version</key>
			<string>55017</string>
		</dict>
		<key>libsecurityd</key>
		<dict>
			<key>version</key>
			<string>55003</string>
		</dict>
		<key>mDNSResponder</key>
		<dict>
			<key>version</key>
			<string>320.10</string>
		</dict>
		<key>msdosfs</key>
		<dict>
			<key>version</key>
			<string>179</string>
		</dict>
		<key>postfix</key>
		<dict>
			<key>version</key>
			<string>229.3</string>
		</dict>
		<key>ppp</key>
		<dict>
			<key>version</key>
			<string>560.13</string>
		</dict>
		<key>python</key>
		<dict>
			<key>version</key>
			<string>57</string>
		</dict>
		<key>security_certificates</key>
		<dict>
			<key>version</key>
			<string>55010</string>
		</dict>
		<key>security_ocspd</key>
		<dict>
			<key>version</key>
			<string>55013</string>
		</dict>
		<key>security_systemkeychain</key>
		<dict>
			<key>version</key>
			<string>55005</string>
		</dict>
		<key>securityd</key>
		<dict>
			<key>version</key>
			<string>55016</string>
		</dict>
		<key>smb</key>
		<dict>
			<key>version</key>
			<string>552.1</string>
		</dict>
		<key>sudo</key>
		<dict>
			<key>version</key>
			<string>61</string>
		</dict>
		<key>webdavfs</key>
		<dict>
			<key>version</key>
			<string>322</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>1699.24.8</string>
		</dict>
	</dict>
</dict>
</plist>
