<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>11D50</string>
	<key>darwin</key>
	<string>Darwin 11.3</string>
	<key>inherits</key>
	<string>11C74</string>
	<key>macosx</key>
	<string>Mac OS X 10.7.3</string>
	<key>projects</key>
	<dict>
		<key>CF</key>
		<dict>
			<key>version</key>
			<string>635.19</string>
		</dict>
		<key>CPANInternal</key>
		<dict>
			<key>version</key>
			<string>107</string>
		</dict>
		<key>ChatServer</key>
		<dict>
			<key>version</key>
			<string>373.3</string>
		</dict>
		<key>Heimdal</key>
		<dict>
			<key>version</key>
			<string>172.28</string>
		</dict>
		<key>ICU</key>
		<dict>
			<key>version</key>
			<string>461.16</string>
		</dict>
		<key>IOAudioFamily</key>
		<dict>
			<key>version</key>
			<string>186.4.6</string>
		</dict>
		<key>IOGraphics</key>
		<dict>
			<key>version</key>
			<string>409</string>
		</dict>
		<key>IOHIDFamily</key>
		<dict>
			<key>version</key>
			<string>368.20</string>
		</dict>
		<key>IOKitUser</key>
		<dict>
			<key>version</key>
			<string>647.6.13</string>
		</dict>
		<key>IOPCIFamily</key>
		<dict>
			<key>version</key>
			<string>148</string>
		</dict>
		<key>IOUSBFamily</key>
		<dict>
			<key>version</key>
			<string>458.4.1</string>
		</dict>
		<key>IOUSBMassStorageClass</key>
		<dict>
			<key>version</key>
			<string>301.0.2</string>
		</dict>
		<key>JavaScriptCore</key>
		<dict>
			<key>version</key>
			<string>7534.53.8</string>
		</dict>
		<key>KerberosHelper</key>
		<dict>
			<key>version</key>
			<string>114.3</string>
		</dict>
		<key>Libinfo</key>
		<dict>
			<key>version</key>
			<string>392.1</string>
		</dict>
		<key>PostgreSQL</key>
		<dict>
			<key>version</key>
			<string>26.4</string>
		</dict>
		<key>PowerManagement</key>
		<dict>
			<key>version</key>
			<string>271.1.1</string>
		</dict>
		<key>SQLite</key>
		<dict>
			<key>version</key>
			<string>126</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>version</key>
			<string>55110</string>
		</dict>
		<key>TimeZoneData</key>
		<dict>
			<key>version</key>
			<string>39</string>
		</dict>
		<key>WebCore</key>
		<dict>
			<key>version</key>
			<string>7534.53.11</string>
		</dict>
		<key>WebKit</key>
		<dict>
			<key>version</key>
			<string>7534.53.11</string>
		</dict>
		<key>WebmailServer</key>
		<dict>
			<key>version</key>
			<string>10.4</string>
		</dict>
		<key>X11proto</key>
		<dict>
			<key>version</key>
			<string>57.2</string>
		</dict>
		<key>apache</key>
		<dict>
			<key>version</key>
			<string>769.3</string>
		</dict>
		<key>apache_mod_php</key>
		<dict>
			<key>version</key>
			<string>66.3</string>
		</dict>
		<key>autofs</key>
		<dict>
			<key>version</key>
			<string>207.1</string>
		</dict>
		<key>configd</key>
		<dict>
			<key>target</key>
			<string>configd_base</string>
			<key>version</key>
			<string>395.10</string>
		</dict>
		<key>cups</key>
		<dict>
			<key>version</key>
			<string>297.3</string>
		</dict>
		<key>curl</key>
		<dict>
			<key>version</key>
			<string>69</string>
		</dict>
		<key>dovecot</key>
		<dict>
			<key>version</key>
			<string>239.8</string>
		</dict>
		<key>dyld</key>
		<dict>
			<key>target</key>
			<string>dyld</string>
			<key>version</key>
			<string>195.6</string>
		</dict>
		<key>eap8021x</key>
		<dict>
			<key>version</key>
			<string>137.2</string>
		</dict>
		<key>file_cmds</key>
		<dict>
			<key>version</key>
			<string>212.1</string>
		</dict>
		<key>hfs</key>
		<dict>
			<key>version</key>
			<string>191.1</string>
		</dict>
		<key>ipsec</key>
		<dict>
			<key>target</key>
			<string>IPSec (Aggregate)</string>
			<key>version</key>
			<string>146.2</string>
		</dict>
		<key>kext_tools</key>
		<dict>
			<key>version</key>
			<string>252.2</string>
		</dict>
		<key>launchd</key>
		<dict>
			<key>version</key>
			<string>392.36</string>
		</dict>
		<key>libresolv</key>
		<dict>
			<key>version</key>
			<string>46.1</string>
		</dict>
		<key>libsecurity_codesigning</key>
		<dict>
			<key>version</key>
			<string>55032</string>
		</dict>
		<key>libsecurity_keychain</key>
		<dict>
			<key>version</key>
			<string>55044</string>
		</dict>
		<key>libsecurity_ocspd</key>
		<dict>
			<key>version</key>
			<string>55010</string>
		</dict>
		<key>libsecurity_ssl</key>
		<dict>
			<key>version</key>
			<string>55003</string>
		</dict>
		<key>libsecurity_utilities</key>
		<dict>
			<key>version</key>
			<string>55025</string>
		</dict>
		<key>mDNSResponder</key>
		<dict>
			<key>version</key>
			<string>320.14</string>
		</dict>
		<key>ntfs</key>
		<dict>
			<key>version</key>
			<string>80</string>
		</dict>
		<key>objc4</key>
		<dict>
			<key>version</key>
			<string>493.11</string>
		</dict>
		<key>pam_modules</key>
		<dict>
			<key>version</key>
			<string>126.1</string>
		</dict>
		<key>ppp</key>
		<dict>
			<key>version</key>
			<string>560.14.2</string>
		</dict>
		<key>removefile</key>
		<dict>
			<key>version</key>
			<string>21.1</string>
		</dict>
		<key>security_certificates</key>
		<dict>
			<key>version</key>
			<string>55016</string>
		</dict>
		<key>security_ocspd</key>
		<dict>
			<key>version</key>
			<string>55106</string>
		</dict>
		<key>security_systemkeychain</key>
		<dict>
			<key>version</key>
			<string>55105</string>
		</dict>
		<key>securityd</key>
		<dict>
			<key>version</key>
			<string>55111</string>
		</dict>
		<key>smb</key>
		<dict>
			<key>version</key>
			<string>552.3</string>
		</dict>
		<key>subversion</key>
		<dict>
			<key>version</key>
			<string>44.1</string>
		</dict>
		<key>usertemplate</key>
		<dict>
			<key>version</key>
			<string>84</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>1699.24.23</string>
		</dict>
	</dict>
</dict>
</plist>
