<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>11E53</string>
	<key>darwin</key>
	<string>Darwin 11.4</string>
	<key>inherits</key>
	<string>11D50</string>
	<key>macosx</key>
	<string>Mac OS X 10.7.4</string>
	<key>projects</key>
	<dict>
		<key>AppleUSBCDCDriver</key>
		<dict>
			<key>version</key>
			<string>4117.4.1</string>
		</dict>
		<key>CF</key>
		<dict>
			<key>version</key>
			<string>635.21</string>
		</dict>
		<key>ChatServer</key>
		<dict>
			<key>version</key>
			<string>373.4</string>
		</dict>
		<key>Chess</key>
		<dict>
			<key>version</key>
			<string>110.3.3</string>
		</dict>
		<key>Heimdal</key>
		<dict>
			<key>version</key>
			<string>172.29</string>
		</dict>
		<key>ICU</key>
		<dict>
			<key>version</key>
			<string>461.17</string>
		</dict>
		<key>IOAudioFamily</key>
		<dict>
			<key>version</key>
			<string>186.4.17</string>
		</dict>
		<key>IOKitUser</key>
		<dict>
			<key>version</key>
			<string>647.24.2</string>
		</dict>
		<key>IONetworkingFamily</key>
		<dict>
			<key>version</key>
			<string>75.1</string>
		</dict>
		<key>IOStorageFamily</key>
		<dict>
			<key>version</key>
			<string>133.6</string>
		</dict>
		<key>IOUSBMassStorageClass</key>
		<dict>
			<key>version</key>
			<string>301.0.4</string>
		</dict>
		<key>JavaScriptCore</key>
		<dict>
			<key>version</key>
			<string>7534.56.6</string>
		</dict>
		<key>Libc</key>
		<dict>
			<key>version</key>
			<string>763.13</string>
		</dict>
		<key>OpenLDAP</key>
		<dict>
			<key>version</key>
			<string>186.4</string>
		</dict>
		<key>PostgreSQL</key>
		<dict>
			<key>version</key>
			<string>26.5</string>
		</dict>
		<key>PowerManagement</key>
		<dict>
			<key>version</key>
			<string>271.25.8</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>version</key>
			<string>55148.1</string>
		</dict>
		<key>TimeZoneData</key>
		<dict>
			<key>version</key>
			<string>41</string>
		</dict>
		<key>WebCore</key>
		<dict>
			<key>version</key>
			<string>7534.56.5</string>
		</dict>
		<key>WebKit</key>
		<dict>
			<key>version</key>
			<string>7534.56.5</string>
		</dict>
		<key>X11libs</key>
		<dict>
			<key>version</key>
			<string>60.2</string>
		</dict>
		<key>X11server</key>
		<dict>
			<key>version</key>
			<string>106.7</string>
		</dict>
		<key>apache_mod_php</key>
		<dict>
			<key>version</key>
			<string>66.4</string>
		</dict>
		<key>bless</key>
		<dict>
			<key>version</key>
			<string>76.1</string>
		</dict>
		<key>configd</key>
		<dict>
			<key>target</key>
			<string>configd_base</string>
			<key>version</key>
			<string>395.11</string>
		</dict>
		<key>cups</key>
		<dict>
			<key>version</key>
			<string>297.9</string>
		</dict>
		<key>curl</key>
		<dict>
			<key>version</key>
			<string>69.1</string>
		</dict>
		<key>ipsec</key>
		<dict>
			<key>target</key>
			<string>IPSec (Aggregate)</string>
			<key>version</key>
			<string>146.3</string>
		</dict>
		<key>launchd</key>
		<dict>
			<key>version</key>
			<string>392.38</string>
		</dict>
		<key>libarchive</key>
		<dict>
			<key>version</key>
			<string>23.1</string>
		</dict>
		<key>libdispatch</key>
		<dict>
			<key>version</key>
			<string>187.9</string>
		</dict>
		<key>libsecurity_apple_x509_cl</key>
		<dict>
			<key>version</key>
			<string>55004</string>
		</dict>
		<key>libsecurity_apple_x509_tp</key>
		<dict>
			<key>version</key>
			<string>55009</string>
		</dict>
		<key>libsecurity_codesigning</key>
		<dict>
			<key>version</key>
			<string>55037.6</string>
		</dict>
		<key>libsecurity_cssm</key>
		<dict>
			<key>version</key>
			<string>55005.3</string>
		</dict>
		<key>libsecurity_filedb</key>
		<dict>
			<key>version</key>
			<string>55016</string>
		</dict>
		<key>libsecurity_keychain</key>
		<dict>
			<key>version</key>
			<string>55050.2</string>
		</dict>
		<key>libsecurity_sd_cspdl</key>
		<dict>
			<key>version</key>
			<string>55003</string>
		</dict>
		<key>libsecurity_smime</key>
		<dict>
			<key>version</key>
			<string>55004</string>
		</dict>
		<key>libsecurity_utilities</key>
		<dict>
			<key>version</key>
			<string>55030</string>
		</dict>
		<key>libsecurityd</key>
		<dict>
			<key>version</key>
			<string>55004</string>
		</dict>
		<key>libxml2</key>
		<dict>
			<key>version</key>
			<string>21.15.1</string>
		</dict>
		<key>libxslt</key>
		<dict>
			<key>version</key>
			<string>10.10</string>
		</dict>
		<key>mDNSResponder</key>
		<dict>
			<key>version</key>
			<string>320.16</string>
		</dict>
		<key>ntfs</key>
		<dict>
			<key>version</key>
			<string>80.1</string>
		</dict>
		<key>pam_modules</key>
		<dict>
			<key>version</key>
			<string>126.2</string>
		</dict>
		<key>ruby</key>
		<dict>
			<key>version</key>
			<string>83.1</string>
		</dict>
		<key>security_certificates</key>
		<dict>
			<key>version</key>
			<string>55023.1</string>
		</dict>
		<key>security_systemkeychain</key>
		<dict>
			<key>version</key>
			<string>55119</string>
		</dict>
		<key>securityd</key>
		<dict>
			<key>version</key>
			<string>55126.2</string>
		</dict>
		<key>smb</key>
		<dict>
			<key>version</key>
			<string>552.5</string>
		</dict>
		<key>webdavfs</key>
		<dict>
			<key>version</key>
			<string>322.1</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>1699.26.8</string>
		</dict>
	</dict>
</dict>
</plist>
