// !$*UTF8*$!
{
	binary_sites = (
		"http://src.macosforge.org/Roots/8B15/",
	);
	build = 8B15;
	darwin = "Darwin 8.1";
	inherits = 8A428;
	macosx = "Mac OS X 10.4.1";
	projects = {
		CF = {
			version = 368.1;
		};
		CyrusIMAP = {
			version = 156.3;
		};
		DirectoryService = {
			version = 349;
		};
		GraphicsDrivers = {
			version = 4.2.9;
			source_sites = (
				"http://src.macosforge.org/BinaryDrivers/8B15/",
			);
		};
		Libm = {
			version = 93;
		};
		WebCore = {
			version = 415.5;
		};
		blojsom = {
			version = 48;
		};
		bootp = {
			version = 133.3;
		};
		cctools = {
			version = 576.2;
		};
		xnu = {
			version = 792.1.5;
		};
	};
}
