// !$*UTF8*$!
{
	binary_sites = (
		"http://darwinsource.opendarwin.org/Roots/",
	);
	build = 8B15;
	darwin = "Darwin 8.1";
	environment = {
		INSTALLED_PRODUCT_ASIDES = YES;
		MACOSX_DEPLOYMENT_TARGET = 10.4;
		NEXT_ROOT = "";
		RC_ARCHS = "ppc i386";
		RC_JASPER = YES;
		RC_NONARCH_CFLAGS = "-pipe -no-cpp-precomp";
		RC_OS = macos;
		RC_RELEASE = Tiger;
		RC_XBS = YES;
		SEPARATE_STRIP = YES;
		UNAME_RELEASE = 8.0;
		UNAME_SYSNAME = Darwin;
	};
	inherits = 8A428;
	macosx = "Mac OS X 10.4.1";
	projects = {
		CF = {
			dependencies = {
				build = (
					Csu,
					ICU,
					Libm,
					Libsystem,
					bash,
					cctools,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					gnutar,
					objc4,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CarbonHeaders,
					DiskArbitration,
					IOKitUser,
					Libc_headers,
					Libinfo,
					Libm,
					Security,
					architecture,
					cctools_ofiles,
					dyld,
					gcc_os,
					objc4,
					xnu,
				);
				lib = (
					ICU,
					Libsystem,
					objc4,
				);
			};
			version = 368.1;
		};
		CyrusIMAP = {
			dependencies = {
				build = (
					BerkeleyDB,
					CF,
					Csu,
					DirectoryService,
					DiskArbitration,
					ICU,
					IOKitUser,
					Kerberos,
					Libm,
					Libsystem,
					OpenSSL,
					Security,
					adv_cmds,
					awk,
					bash,
					bison,
					cctools,
					configd_executables,
					cxxfilt,
					file_cmds,
					flex,
					gcc,
					gcc_os,
					gnudiff,
					gnumake,
					grep,
					netinfo,
					objc4,
					passwordserver_sasl,
					pb_makefiles,
					pbx_jamfiles,
					perl,
					shell_cmds,
					system_cmds,
					tcp_wrappers,
					text_cmds,
					zlib,
				);
				header = (
					BerkeleyDB,
					CF,
					CarbonHeaders,
					DirectoryService,
					DiskArbitration,
					IOKitUser,
					Kerberos,
					Libc_headers,
					Libinfo,
					Libm,
					OpenSSL,
					Security,
					architecture,
					gcc_os,
					passwordserver_sasl,
					perl,
					tcp_wrappers,
					xnu,
				);
				lib = (
					CF,
					DirectoryService,
					IOKitUser,
					Kerberos,
					Libsystem,
					OpenSSL,
					Security,
					configd_executables,
					netinfo,
					passwordserver_sasl,
				);
			};
			version = 156.3;
		};
		DirectoryService = {
			dependencies = {
				build = (
					CF,
					Csu,
					DSPasswordServerFramework,
					DiskArbitration,
					ICU,
					IOKitUser,
					Kerberos,
					Libm,
					Libsystem,
					OpenLDAP,
					OpenSSL,
					Security,
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					bsm,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					netinfo,
					objc4,
					passwordserver_sasl,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DSPasswordServerFramework,
					DiskArbitration,
					IOKitUser,
					IONetworkingFamily,
					Kerberos,
					Libc_headers,
					Libinfo,
					Libm,
					Libnotify,
					OpenLDAP,
					OpenSSL,
					Security,
					architecture,
					bsm,
					configd,
					gcc_os,
					netinfo,
					passwordserver_sasl,
					xnu,
				);
				lib = (
					CF,
					DSPasswordServerFramework,
					DirectoryService,
					IOKitUser,
					Kerberos,
					Libsystem,
					OpenLDAP,
					OpenSSL,
					Security,
					bsm,
					configd,
					netinfo,
					passwordserver_sasl,
				);
			};
			target = DirectoryServiceFW;
			version = 349;
		};
		Libm = {
			dependencies = {
				build = (
					CF,
					Csu,
					ICU,
					adv_cmds,
					awk,
					bash,
					cctools,
					file_cmds,
					gcc,
					gcc_os,
					gcc_os_35,
					ld64,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					Libc_headers,
					Libm,
					architecture,
					gcc_os_35,
					xnu,
				);
			};
			environment = {
				RC_ARCHS = "ppc ppc64 i386";
			};
			target = libm;
			version = 93;
		};
		WebCore = {
			version = 415.5;
		};
		blojsom = {
			version = 48;
		};
		bootp = {
			dependencies = {
				build = (
					CF,
					Csu,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					bash,
					bootstrap_cmds,
					cctools,
					configd_executables,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					gnutar,
					objc4,
					pb_makefiles,
					project_makefiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					IOKitUser,
					Libc_headers,
					Libinfo,
					Libm,
					architecture,
					configd_executables,
					gcc_os,
					netinfo,
					objc4,
					xnu,
				);
				lib = (
					CF,
					IOKitUser,
					Libsystem,
					bootp,
					configd,
					configd_executables,
					objc4,
				);
			};
			environment = {
				RC_RELEASE = Darwin;
			};
			version = 133.3;
		};
		cctools = {
			dependencies = {
				build = (
					Csu,
					Libc_static,
					Libm,
					Libsystem,
					adv_cmds,
					bash,
					bootstrap_cmds,
					cctools,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
				);
				header = (
					CarbonHeaders,
					Libc_headers,
					Libinfo,
					Libm,
					architecture,
					gcc_os,
					objc4,
					xnu,
				);
				lib = (
					Libsystem,
				);
			};
			version = 576.2;
		};
		xnu = {
			dependencies = {
				build = (
					awk,
					adv_cmds,
					bash,
					bootstrap_cmds,
					cctools,
					cctools_ofiles,
					developer_cmds,
					file_cmds,
					files,
					gcc_os,
					gcc_select,
					gnumake,
					kext_tools,
					perl,
					shell_cmds,
					system_cmds,
					tcsh,
					text_cmds,
				);
			};
			version = 792.1.5;
		};
	};
	source_sites = (
		"http://darwinsource.opendarwin.org/tarballs/other/",
		"http://darwinsource.opendarwin.org/tarballs/apsl/",
	);
}
