// !$*UTF8*$!
{
	binary_sites = (
		"http://src.macosforge.org/Roots/8C46/",
	);
	build = 8C46;
	darwin = "Darwin 8.2";
	inherits = 8B15;
	macosx = "Mac OS X 10.4.2";
	projects = {
		AppleMacRISC4PE = {
			version = 162.0.0;
			binary_sites = (
				"http://src.macosforge.org/BinaryDrivers/8C46/",
			);
		};
		AppleUSBCDCDriver = {
			version = 315.4.1;
		};
		BootCache = {
			version = 25.1;
		};
		CF = {
			version = 368.11;
		};
		CFNetwork = {
			version = 128.2;
		};
		DSNSLPlugins = {
			version = 112.1;
		};
		DirectoryService = {
			version = 350;
		};
		GraphicsDrivers = {
			version = 4.6.8;
			binary_sites = (
				"http://src.macosforge.org/BinaryDrivers/8C46/",
			);
		};
		JavaScriptCore = {
			version = 412.3;
		};
		Security = {
			version = 223;
		};
		SpamAssassin = {
			version = 124.1;
		};
		WebCore = {
			version = 415.11;
		};
		apache_mod_php = {
			version = 18;
		};
		cctools = {
			version = 576.3;
		};
		cups = {
			version = 87;
		};
		diskdev_cmds = {
			version = 332.5;
		};
		dyld = {
			version = 43.1;
		};
		eap8021x = {
			version = 33.1;
		};
		files = {
			version = 469;
		};
		launchd = {
			version = 106.3;
		};
		libsecurity_apple_x509_tp = {
			version = 22;
		};
		libsecurity_cssm = {
			version = 31;
		};
		libsecurity_utilities = {
			version = 25;
		};
		msdosfs = {
			version = 88.1;
		};
		net_snmp = {
			version = 18;
		};
		ppp = {
			version = 229.2;
		};
		security_certificates = {
			version = 17;
		};
		securityd = {
			version = 67;
		};
		smb = {
			version = 217.2;
		};
		tcp_wrappers = {
			version = 14;
		};
		usertemplate = {
			version = 41.2;
		};
		webdavfs = {
			version = 214.1;
		};
		xnu = {
			version = 792.2.4;
		};
	};
}
