// !$*UTF8*$!
{
	build = 8C46;
	darwin = "Darwin 8.2";
	inherits = 8B15;
	macosx = "Mac OS X 10.4.2";
	projects = {
		AppleMacRISC4PE = {
			version = 162.0.0;
		};
		AppleUSBCDCDriver = {
			dependencies = {
				build = (
					CF,
					ICU,
					adv_cmds,
					awk,
					bash,
					cctools,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
				);
				header = (
					IONetworkingFamily,
					IOSerialFamily,
					IOUSBFamily,
					xnu,
				);
			};
			version = 315.4.1;
		};
		BootCache = {
			dependencies = {
				build = (
					CF,
					Csu,
					DiskArbitration,
					ICU,
					IOKitUser,
					Libm,
					Libmx,
					Libsystem,
					OpenSSL,
					SQLite,
					Security,
					adv_cmds,
					awk,
					bash,
					bsm,
					cctools,
					configd_executables,
					cups,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					libiconv,
					libxml2,
					objc4,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DiskArbitration,
					IOGraphics,
					IOHIDFamily,
					IOKitUser,
					IOStorageFamily,
					Libc_headers,
					Libm,
					architecture,
					gcc_os,
					objc4,
					xnu,
				);
				lib = (
					Libsystem,
				);
			};
			version = 25.1;
		};
		CF = {
			dependencies = {
				build = (
					Csu,
					ICU,
					Libm,
					Libsystem,
					bash,
					cctools,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					gnutar,
					objc4,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CarbonHeaders,
					DiskArbitration,
					IOKitUser,
					Libc_headers,
					Libinfo,
					Libm,
					Security,
					architecture,
					cctools_ofiles,
					dyld,
					gcc_os,
					objc4,
					xnu,
				);
				lib = (
					ICU,
					Libsystem,
					objc4,
				);
			};
			version = 368.11;
		};
		CFNetwork = {
			dependencies = {
				build = (
					CF,
					Csu,
					ICU,
					Libm,
					Libsystem,
					Security,
					bash,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					gnutar,
					libsecurity_cdsa_utils,
					objc4,
					shell_cmds,
				);
				header = (
					CF,
					CarbonHeaders,
					CommonCrypto,
					JavaScriptGlue,
					Kerberos,
					Libc_headers,
					Libinfo,
					Libm,
					Security,
					architecture,
					cctools_ofiles,
					configd,
					dyld,
					gcc_os,
					libsecurity_cdsa_utils,
					netinfo,
					xnu,
				);
				lib = (
					CF,
					Libsystem,
					Security,
					configd,
				);
			};
			version = 128.2;
		};
		DSNSLPlugins = {
			dependencies = {
				build = (
					CF,
					Csu,
					DirectoryService,
					DiskArbitration,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					OpenSSL,
					Security,
					adv_cmds,
					awk,
					bash,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					netinfo,
					objc4,
					passwordserver_sasl,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DirectoryService,
					DiskArbitration,
					IOKitUser,
					Libc_headers,
					Libinfo,
					Libm,
					Security,
					architecture,
					configd,
					gcc_os,
					xnu,
				);
				lib = (
					CF,
					DirectoryService,
					Libsystem,
					Security,
					configd,
				);
			};
			version = 112.1;
		};
		DirectoryService = {
			dependencies = {
				build = (
					CF,
					Csu,
					DSPasswordServerFramework,
					DiskArbitration,
					ICU,
					IOKitUser,
					Kerberos,
					Libm,
					Libsystem,
					OpenLDAP,
					OpenSSL,
					Security,
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					bsm,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					netinfo,
					objc4,
					passwordserver_sasl,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DSPasswordServerFramework,
					DiskArbitration,
					IOKitUser,
					IONetworkingFamily,
					Kerberos,
					Libc_headers,
					Libinfo,
					Libm,
					Libnotify,
					OpenLDAP,
					OpenSSL,
					Security,
					architecture,
					bsm,
					configd,
					gcc_os,
					netinfo,
					passwordserver_sasl,
					xnu,
				);
				lib = (
					CF,
					DSPasswordServerFramework,
					DirectoryService,
					IOKitUser,
					Kerberos,
					Libsystem,
					OpenLDAP,
					OpenSSL,
					Security,
					bsm,
					configd,
					netinfo,
					passwordserver_sasl,
				);
			};
			target = DirectoryServiceFW;
			version = 350;
		};
		JavaScriptCore = {
			version = 412.3;
		};
		Security = {
			dependencies = {
				build = (
					CF,
					Csu,
					DirectoryService,
					ICU,
					Libm,
					Libsystem,
					adv_cmds,
					awk,
					bash,
					cctools,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					gnudiff,
					grep,
					libsecurity_apple_csp,
					libsecurity_apple_cspdl,
					libsecurity_apple_file_dl,
					libsecurity_apple_x509_cl,
					libsecurity_apple_x509_tp,
					libsecurity_asn1,
					libsecurity_authorization,
					libsecurity_cdsa_client,
					libsecurity_cdsa_plugin,
					libsecurity_cdsa_utilities,
					libsecurity_cdsa_utils,
					libsecurity_checkpw,
					libsecurity_cryptkit,
					libsecurity_cssm,
					libsecurity_filedb,
					libsecurity_keychain,
					libsecurity_manifest,
					libsecurity_mds,
					libsecurity_ocspd,
					libsecurity_pkcs12,
					libsecurity_sd_cspdl,
					libsecurity_smime,
					libsecurity_ssl,
					libsecurity_utilities,
					libsecurityd,
					objc4,
					pbx_jamfiles,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CarbonHeaders,
					Libc_headers,
					gcc_os,
					libsecurity_asn1,
					libsecurity_authorization,
					libsecurity_checkpw,
					libsecurity_cssm,
					libsecurity_keychain,
					libsecurity_manifest,
					libsecurity_mds,
					libsecurity_smime,
					libsecurity_ssl,
					xnu,
				);
				lib = (
					CF,
					Libsystem,
				);
			};
			version = 223;
		};
		SpamAssassin = {
			dependencies = {
				build = (
					CPAN,
					Csu,
					Libm,
					Libsystem,
					OpenSSL,
					bash,
					bzip2,
					cctools,
					curl,
					cxxfilt,
					file_cmds,
					files,
					gcc_os,
					gnudiff,
					gnumake,
					gnutar,
					gnuzip,
					grep,
					netinfo,
					pb_makefiles,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
					zlib,
				);
				header = (
					Libc_headers,
					Libinfo,
					OpenSSL,
					architecture,
					bzip2,
					curl,
					dyld,
					gcc_os,
					netinfo,
					xnu,
					zlib,
				);
				lib = (
					Libsystem,
					OpenSSL,
					bzip2,
					curl,
					netinfo,
					zlib,
				);
			};
			version = 124.1;
		};
		WebCore = {
			version = 415.11;
		};
		apache_mod_php = {
			dependencies = {
				build = (
					CF,
					CoreOSMakefiles,
					Csu,
					DiskArbitration,
					ICU,
					IOKitUser,
					Libm,
					Libmx,
					Libsystem,
					OpenLDAP,
					OpenSSL,
					Security,
					apache,
					apache_mod_php,
					awk,
					bash,
					bison,
					bootstrap_cmds,
					bsm,
					cctools,
					configd,
					cups_ppc,
					curl,
					cxxfilt,
					file_cmds,
					flex,
					gcc_os,
					gnudiff,
					gnumake,
					grep,
					iodbc,
					libiconv,
					libxml2,
					ncurses,
					netinfo,
					objc4,
					passwordserver_sasl,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DiskArbitration,
					IOGraphics,
					IOHIDFamily,
					IOKitUser,
					Libc_headers,
					Libinfo,
					Libm,
					OpenLDAP,
					apache,
					architecture,
					cctools_ofiles,
					curl,
					dyld,
					gcc_os,
					iodbc,
					ncurses,
					netinfo,
					xnu,
					zlib,
				);
				lib = (
					Libsystem,
					OpenLDAP,
					OpenSSL,
					curl,
					iodbc,
					netinfo,
					zlib,
				);
			};
			version = 18;
		};
		cctools = {
			dependencies = {
				build = (
					Csu,
					Libc_static,
					Libm,
					Libsystem,
					adv_cmds,
					bash,
					bootstrap_cmds,
					cctools,
					cxxfilt,
					file_cmds,
					gcc_os,
					gcc_os_35,
					gnumake,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
				);
				header = (
					CarbonHeaders,
					Libc_headers,
					Libinfo,
					Libm,
					Libstreams,
					architecture,
					gcc_os,
					objc4,
					xnu,
				);
				lib = (
					Libsystem,
				);
			};
			version = 576.3;
		};
		cups = {
			dependencies = {
				build = (
					AppleTalk,
					CF,
					Csu,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					adv_cmds,
					bash,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					groff,
					objc4,
					pam,
					shell_cmds,
					system_cmds,
					text_cmds,
					zlib,
				);
				header = (
					AppleTalk,
					CF,
					CarbonHeaders,
					DiskArbitration,
					IOGraphics,
					IOHIDFamily,
					IOKitUser,
					IOSerialFamily,
					IOUSBFamily,
					Libc_headers,
					Libinfo,
					Libm,
					Libnotify,
					Security,
					architecture,
					configd,
					dyld,
					gcc_os,
					libdyld,
					netinfo,
					pam,
					xnu,
					zlib,
				);
				lib = (
					AppleTalk,
					CF,
					IOKitUser,
					Libsystem,
					configd,
					cups,
					cups_ppc,
					pam,
					zlib,
				);
			};
			target = installfat;
			version = 87;
		};
		diskdev_cmds = {
			dependencies = {
				build = (
					CF,
					Csu,
					DiskArbitration,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					OpenSSL,
					Security,
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					gnutar,
					groff,
					objc4,
					pb_makefiles,
					project_makefiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DiskArbitration,
					IOCDStorageFamily,
					IOKitUser,
					IOStorageFamily,
					Libc_headers,
					Libinfo,
					Libm,
					OpenSSL,
					architecture,
					gcc_os,
					xnu,
				);
				lib = (
					CF,
					DiskArbitration,
					IOKitUser,
					Libsystem,
					OpenSSL,
				);
			};
			version = 332.5;
		};
		dyld = {
			dependencies = {
				build = (
					CF,
					ICU,
					Libc,
					adv_cmds,
					awk,
					bash,
					cctools,
					file_cmds,
					gcc,
					gcc_os,
					gcc_os_35,
					ld64,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CarbonHeaders,
					Libc_headers,
					Libnotify,
					architecture,
					cctools_ofiles,
					gcc_os_35,
					xnu,
				);
			};
			environment = {
				RC_ARCHS = "ppc ppc64 i386";
			};
			target = dyld;
			version = 43.1;
		};
		eap8021x = {
			dependencies = {
				build = (
					CF,
					Csu,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					OpenSSL,
					Security,
					bash,
					bootstrap_cmds,
					cctools,
					configd_executables,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnumake,
					gnutar,
					objc4,
					pb_makefiles,
					project_makefiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					Libc_headers,
					Libm,
					OpenSSL,
					Security,
					architecture,
					configd_executables,
					gcc_os,
					xnu,
				);
				lib = (
					CF,
					Libsystem,
					OpenSSL,
					Security,
					configd,
					configd_executables,
					eap8021x,
				);
			};
			environment = {
				RC_RELEASE = Darwin;
			};
			version = 33.1;
		};
		files = {
			dependencies = {
				build = (
					CoreOSMakefiles,
					bash,
					bootstrap_cmds,
					cctools,
					file_cmds,
					gcc_os,
					gnumake,
					netinfo,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
			};
			target = "";
			version = 469;
		};
		launchd = {
			dependencies = {
				build = (
					CF,
					CoreOSMakefiles,
					Csu,
					ICU,
					Libm,
					Libsystem,
					Security,
					bash,
					bootstrap_cmds,
					bsm,
					cctools,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnudiff,
					gnumake,
					grep,
					libedit,
					ncurses,
					objc4,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
				);
				header = (
					CF,
					CarbonHeaders,
					Libc_headers,
					Libinfo,
					Libm,
					Libnotify,
					Security,
					architecture,
					bsm,
					dyld,
					gcc_os,
					libdyld,
					libedit,
					xnu,
				);
				lib = (
					CF,
					Libsystem,
					Security,
					bsm,
					libedit,
				);
			};
			version = 106.3;
		};
		libsecurity_apple_x509_tp = {
			dependencies = {
				build = (
					CF,
					ICU,
					adv_cmds,
					awk,
					bash,
					cctools,
					file_cmds,
					gcc,
					gcc_os,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CF,
					CarbonHeaders,
					CommonCrypto,
					Libc_headers,
					Libm,
					Security,
					architecture,
					gcc_os,
					libsecurity_asn1,
					libsecurity_cdsa_plugin,
					libsecurity_cdsa_utilities,
					libsecurity_ocspd,
					libsecurity_utilities,
					xnu,
				);
			};
			version = 22;
		};
		libsecurity_cssm = {
			dependencies = {
				build = (
					CF,
					ICU,
					adv_cmds,
					awk,
					bash,
					cctools,
					file_cmds,
					gcc,
					gcc_os,
					pbx_jamfiles,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CF,
					CarbonHeaders,
					Libc_headers,
					Libm,
					Security,
					architecture,
					gcc_os,
					libsecurity_cdsa_client,
					libsecurity_cdsa_utilities,
					libsecurity_utilities,
					xnu,
				);
			};
			version = 31;
		};
		libsecurity_utilities = {
			dependencies = {
				build = (
					CF,
					ICU,
					adv_cmds,
					awk,
					bash,
					cctools,
					file_cmds,
					gcc,
					gcc_os,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					CF,
					CarbonHeaders,
					DiskArbitration,
					IOKitUser,
					IOUSBFamily,
					Libc_headers,
					Libinfo,
					Libm,
					Libnotify,
					architecture,
					bsm,
					cctools_ofiles,
					dyld,
					gcc_os,
					xnu,
				);
			};
			version = 25;
		};
		msdosfs = {
			dependencies = {
				build = (
					CF,
					Csu,
					ICU,
					Libm,
					Libsystem,
					adv_cmds,
					awk,
					bash,
					cctools,
					cxxfilt,
					diskdev_cmds,
					file_cmds,
					gcc,
					gcc_os,
					objc4,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
				);
				header = (
					CF,
					CarbonHeaders,
					Libc_headers,
					architecture,
					gcc_os,
					xnu,
				);
				lib = (
					CF,
					Libsystem,
				);
			};
			version = 88.1;
		};
		net_snmp = {
			dependencies = {
				build = (
					CoreOSMakefiles,
					Csu,
					Libm,
					Libsystem,
					OpenSSL,
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					bzip2,
					cctools,
					cxxfilt,
					developer_cmds,
					file,
					file_cmds,
					files,
					gcc_os,
					gnudiff,
					gnumake,
					grep,
					perl,
					shell_cmds,
					system_cmds,
					tcp_wrappers,
					text_cmds,
					zlib,
				);
				header = (
					Libc_headers,
					Libinfo,
					Libm,
					OpenSSL,
					architecture,
					dyld,
					gcc_os,
					tcp_wrappers,
					xnu,
					zlib,
				);
				lib = (
					Libsystem,
					OpenSSL,
					net_snmp,
					zlib,
				);
			};
			version = 18;
		};
		ppp = {
			dependencies = {
				build = (
					CF,
					Csu,
					DirectoryService,
					DiskArbitration,
					ICU,
					IOKitUser,
					Kerberos,
					Libm,
					Libmx,
					Libsystem,
					OpenSSL,
					SQLite,
					Security,
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					bsm,
					cctools,
					configd_executables,
					cups,
					cxxfilt,
					eap8021x,
					file_cmds,
					gcc,
					gcc_os,
					libiconv,
					libxml2,
					netinfo,
					network_cmds,
					objc4,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					DirectoryService,
					DiskArbitration,
					IOGraphics,
					IOHIDFamily,
					IOKitUser,
					IONetworkingFamily,
					Libc_headers,
					Libinfo,
					Libm,
					Libnotify,
					OpenSSL,
					Security,
					architecture,
					cctools_ofiles,
					configd_executables,
					cups,
					dyld,
					eap8021x,
					gcc_os,
					objc4,
					ppp,
					xnu,
				);
				lib = (
					CF,
					DirectoryService,
					IOKitUser,
					Kerberos,
					Libsystem,
					OpenSSL,
					Security,
					configd,
					configd_executables,
					eap8021x,
					network_cmds,
				);
			};
			version = 229.2;
		};
		security_certificates = {
			dependencies = {
				build = (
					CF,
					ICU,
					adv_cmds,
					awk,
					bash,
					cctools,
					file_cmds,
					gcc,
					gcc_os,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
			};
			version = 17;
		};
		securityd = {
			dependencies = {
				build = (
					CF,
					Csu,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					Security,
					SecurityTokend,
					SmartCardServices,
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					bsm,
					cctools,
					configd_executables,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					gnudiff,
					gnumake,
					libsecurity_agent,
					libsecurity_cdsa_client,
					libsecurity_cdsa_utilities,
					libsecurity_utilities,
					libsecurityd,
					objc4,
					pbx_jamfiles,
					perl,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					IOKitUser,
					IOUSBFamily,
					Libc_headers,
					Libinfo,
					Libm,
					Security,
					SecurityTokend,
					SmartCardServices,
					architecture,
					bsm,
					gcc_os,
					libsecurity_agent,
					libsecurity_cdsa_client,
					libsecurity_cdsa_utilities,
					libsecurity_utilities,
					libsecurityd,
					xnu,
				);
				lib = (
					CF,
					IOKitUser,
					Libsystem,
					Security,
					SmartCardServices,
					bsm,
				);
			};
			version = 67;
		};
		smb = {
			dependencies = {
				build = (
					CF,
					Csu,
					DiskArbitration,
					ICU,
					IOKitUser,
					Kerberos,
					Libm,
					Libsystem,
					Security,
					adv_cmds,
					awk,
					bash,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					netinfo,
					objc4,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CarbonHeaders,
					Kerberos,
					Libc_headers,
					Libinfo,
					Libm,
					Security,
					UserNotification,
					architecture,
					gcc_os,
					libiconv,
					xnu,
				);
				lib = (
					CF,
					Kerberos,
					Libsystem,
					Security,
				);
			};
			version = 217.2;
		};
		tcp_wrappers = {
			dependencies = {
				build = (
					CoreOSMakefiles,
					Csu,
					Libm,
					Libsystem,
					bash,
					bootstrap_cmds,
					cctools,
					cxxfilt,
					file_cmds,
					gcc_os,
					gnudiff,
					gnumake,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
				header = (
					Libc_headers,
					Libinfo,
					architecture,
					gcc_os,
					xnu,
				);
				lib = (
					Libsystem,
				);
			};
			version = 14;
		};
		usertemplate = {
			dependencies = {
				build = (
					bash,
					cctools,
					file_cmds,
					gcc_os,
					gnumake,
					pb_makefiles,
					shell_cmds,
					system_cmds,
					text_cmds,
				);
			};
			version = 41.2;
		};
		webdavfs = {
			dependencies = {
				build = (
					CF,
					CFNetwork,
					Csu,
					DiskArbitration,
					ICU,
					IOKitUser,
					Libm,
					Libsystem,
					OpenSSL,
					Security,
					adv_cmds,
					awk,
					bash,
					cctools,
					configd,
					cxxfilt,
					file_cmds,
					gcc,
					gcc_os,
					libiconv,
					libxml2,
					objc4,
					pbx_jamfiles,
					shell_cmds,
					system_cmds,
					text_cmds,
					xnu,
					zlib,
				);
				header = (
					CF,
					CFNetwork,
					CarbonHeaders,
					DiskArbitration,
					IOKitUser,
					IONetworkingFamily,
					Libc_headers,
					Libm,
					Libnotify,
					OpenSSL,
					Security,
					architecture,
					configd,
					gcc_os,
					xnu,
				);
				lib = (
					CF,
					CFNetwork,
					IOKitUser,
					Libsystem,
					OpenSSL,
					Security,
					configd,
				);
			};
			version = 214.1;
		};
		xnu = {
			dependencies = {
				build = (
					adv_cmds,
					awk,
					bash,
					bootstrap_cmds,
					cctools,
					cctools_ofiles,
					developer_cmds,
					file_cmds,
					files,
					gcc_os,
					gcc_select,
					gnumake,
					kext_tools,
					perl,
					shell_cmds,
					system_cmds,
					tcsh,
					text_cmds,
				);
			};
			version = 792.2.4;
		};
	};
}
