// !$*UTF8*$!
{
	build = 9B18;
	inherits = 9A581;
	darwin = "Darwin 9.1";
	macosx = "Mac OS X 10.5.1";
        binary_sites = (
                "http://src.macosforge.org/Roots/9B18/",
        );
	projects = {
		DSPasswordServerPlugin = {
			version = 207.1;
		};
		IOKitUser = {
			version = 376.0.1;
		};
		Security = {
			version = 32736;
		};
		diskdev_cmds = {
			version = 420;
		};
		libsecurity_keychain = {
			version = 32768;
		};
		mDNSResponder = {
			version = 164;
		};
		samba = {
			version = 187.1;
		};
		smb = {
			version = 345;
		};
		xnu = {
			version = 1228.0.2;
		};
	};
}
