// !$*UTF8*$!
{
	build = 9G55;
	inherits = 9F33;
        darwin = "Darwin 9.6";
        macosx = "Mac OS X 10.5.6";
        binary_sites = (
                "http://src.macosforge.org/Roots/9G55/",
        );
	projects = {
		Apple16X50Serial = {
			version = 19.3;
		};
		AppleAPIC = {
			version = 13;
		};
		AppleDisplays = {
			version = 170.0.1;
		};
		AppleHWSensor = {
			version = 173.0.0;
		};
		AppleIntel8255x = {
			version = 19;
		};
		AppleSMBIOS = {
			version = 33;
		};
		AppleUSBAudio = {
			version = 258.2.13;
		};
		AppleUSBCDCDriver = {
			version = 3212.4.1;
		};
		BootCache = {
			version = 43.10;
		};
                CarbonHeaders = {
                        version = 9G55;
                };
		CF = {
			version = 476.17;
		};
		Chess = {
			version = 109.0.3;
		};
		CoreOSMakefiles = {
			version = 52;
		};
		DSPasswordServerPlugin = {
			version = 208.5;
		};
		DirectoryService = {
			target = DirectoryServiceFW;
			version = 514.24;
		};
		ICU = {
			version = 8.11.2;
		};
		ICU_debug = {
			original = ICU;
			target = install_debug;
		};
		ICU_profile = {
			original = ICU;
			target = install_profile;
		};
		IOATAFamily = {
			version = 200.0.3;
		};
		IOAudioFamily = {
			version = 165.4.3;
		};
		IOFireWireAVC = {
			version = 223.4.1;
		};
		IOFireWireFamily = {
			version = 346.4.0;
		};
		IOFireWireIP = {
			version = 176.4.0;
		};
		IOFireWireSerialBusProtocolTransport = {
			version = 152.0.2;
		};
		IOGraphics = {
			version = 305.11;
		};
		IOKitUser = {
			version = 388.50;
		};
		IONetworkingFamily = {
			version = 47.3;
		};
		IOPCIFamily = {
			version = 106;
		};
		IOSCSIParallelFamily = {
			version = 151.1.3;
		};
		IOSerialFamily = {
			version = 32.1;
		};
		IOStorageFamily = {
			version = 92.8;
		};
		IOUSBFamily = {
			version = 327.4.0;
		};
		IOUSBMassStorageClass = {
			version = 204.0.3;
		};
		Kerberos = {
			version = 75.10.6;
		};
		Libc = {
			version = 498.1.5;
		};
		Libnotify = {
			version = 36;
		};
		Libsystem = {
			version = 111.1.3;
		};
		MySQL = {
			version = 45;
		};
		NFS = {
			version = 25.2;
		};
		OpenSSH = {
			version = 95.1.5;
		};
		PowerManagement = {
			version = 158.5.2;
		};
		SmartCardServices = {
			patchfiles = (
				"SmartCardServices-34733.MacTypes.patch",
			);
			version = 34733;
		};
		TargetConfig = {
			version = 6;
		};
		TargetConfig_host = {
			original = TargetConfig;
		};
		TimeZoneData = {
			version = 16;
		};
		Tokend = {
			patchfiles = (
				"Tokend-35209.MacTypes.patch",
			);
			version = 35209;
		};
		apache = {
			version = 731.0.1;
		};
		apache_mod_php4 = {
			version = 33;
		};
		architecture = {
			version = 254.0.5;
		};
		bless = {
			version = 63.1;
		};
		bootstrap_cmds = {
			version = 60.1;
		};
		clamav = {
			version = 116.5;
		};
		cups = {
			target = installfat;
			version = 136.13;
		};
		diskdev_cmds = {
			version = 421.7;
		};
		dyld = {
			target = dyld;
			version = 97.1;
		};
		eap8021x = {
			version = 49.8;
		};
		file_cmds = {
			version = 188;
		};
		files = {
			target = "";
			version = 530.1.4;
		};
		gnutar = {
			version = 442.0.1;
		};
		hfs = {
			version = 165.1;
		};
		kext_tools = {
			version = 117.4;
		};
		launchd = {
			version = 258.19;
		};
		libsecurity_apple_csp = {
			version = 35205;
		};
		libsecurityd = {
			version = 35436;
		};
		libxslt = {
			version = 8.4.3;
		};
		mDNSResponder = {
			version = 176.3;
		};
		mDNSResponderSystemLibraries = {
			original = mDNSResponder;
			target = SystemLibraries;
		};
		msdosfs = {
			version = 136.4;
		};
		network_cmds = {
			version = 307.0.1;
		};
		notify = {
			version = 16;
		};
		passwordserver_sasl = {
			target = SecondaryTargets;
			version = 118.1;
		};
		passwordserver_saslextra = {
			original = passwordserver_sasl;
			target = TertiaryTargets;
		};
		postfix = {
			version = 174.2;
		};
		remote_cmds = {
			version = 13.0.1;
		};
		security_certificates = {
			version = 35138;
		};
		smb = {
			version = 348.6;
		};
		syslog = {
			version = 69.0.3;
		};
		system_cmds = {
			version = 433.4;
		};
		top = {
			version = 39;
		};
		vim = {
			version = 39;
		};
		webdavfs = {
			version = 252.7;
		};
		xnu = {
			version = 1228.9.59;
		};
	};
}
