<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.macosforge.darwinbuild.platforms.%%PLATFORM%%</string>
	<key>CFBundleName</key>
	<string>%%PLATFORM%% SDKs</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>Description</key>
	<string>%%PLATFORM%%</string>
	<key>FamilyIdentifier</key>
	<string>%%PLATFORM%%</string>
	<key>FamilyName</key>
	<string>%%PLATFORM%%</string>
	<key>Identifier</key>
	<string>org.macosforge.darwinbuild.platforms.%%PLATFORM%%</string>
	<key>Name</key>
	<string>%%PLATFORM%%</string>
	<key>Type</key>
	<string>Platform</string>
	<key>Version</key>
	<string>1</string>
</dict>
</plist>
